*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font: 18px 'Helvetica Neue', sans-serif;
}

body {
  text-align: center;
}

.signature-component {
  text-align: left;
  display: inline-block;
  max-width: 100%;
  padding: 0.5rem;
  background-color: #ededed;
}

button {
  padding: 1em;
  box-shadow: 2px 2px 4px #777;
  margin-top: .5em;
  float: right;
}
button.toggle{
  background: rgba(red, .2);
}
canvas {
  display: block;
  position: relative;
  border: 1px solid;
  background-color: #fff;
}
img {
  position: absolute;
  left: 0;
  top: 0;
}